@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

h1 {
  margin-top: 80px;
}

p {
  max-width: 520px;
  margin: 20px auto 50px;
  color: rgb(92, 92, 92);
}

.success {
  max-width: 450px;
  padding: 30px;
  border-radius: 12px;
  background-color: rgb(209, 247, 209);
  margin: 40px auto;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
}
